@import "tailwindcss";

@layer components {
    .signin-btn {
        @apply w-full bg-white border-2 border-gray-300 text-gray-700 py-3 px-4 rounded-lg hover:bg-gray-50 disabled:opacity-50 flex items-center justify-center gap-3 transition-all
    }
}